/* Space out content a bit */
body {
  font-family: 'Quicksand', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
h3{
  font-family: 'Quicksand', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.mainImg{
  margin-top: 30px;
}
.stack{
  font-size:.1em;
}
.navright li{
  padding-top:5px;
  display:inline-block;
  color:grey;
}
a{
  color:navy;
  font-size:1.2em;
  padding:5px;
  font-weight:thin;
}
.socialMedia{
  font-size:20px;
  z-index:50;
  position:absolute;
  right:15px;
  top:15px;
  padding:5px;
}
.socialMedia i{
  padding-right:10px;
}
.socialMedia i:hover{
  font-size:30px;
  color:lightblue;
}

.imageContainer{
  background:#EFEFEF;
  box-shadow: 1px 1px 10px #999;
  text-align:center;
  height:500px;
  overflow:scroll;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px !important;
  padding-top: 5px;
}
.image {
  position: relative;
  display:inline-block;
  width: 200px;
  padding:4px;
}

.image .eye {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size:3em;
  visibility: hidden;

}


.image:hover .eye {
  visibility: visible;
  background-color:#26304f;
  width:100%;
  opacity:.7;
}

.imageScroll {
  position: relative;
  display:inline-block;
  padding:4px;
}

.imageScroll .eye {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size:3em;
  visibility: hidden;

}


.imageScroll:hover .eye {
  visibility: visible;
  background-color:#26304f;
  width:100%;
  opacity:.7;
}

.wrapper {
  background:#EFEFEF;
  box-shadow: 1px 1px 10px #999;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;
  vertical-align:center;
  text-align: left;
  position: relative;
  width:98%;
  border-radius: 5px;
  margin-bottom: 20px !important;
  max-height:440px;

}
.wrapperGrid {
  background:#EFEFEF;
  box-shadow: 1px 1px 10px #999;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space:nowrap;
  vertical-align:center;
  text-align: left;
  position: relative;
  width:98%;
  border-radius: 5px;
  margin-bottom: 20px !important;
  height:900px;

}
.scrolls {

  vertical-align:center;
  display:inline-block;
}
.scrolls img {
    box-shadow: 1px 1px 10px #999;
    margin: 10px;
    cursor: pointer;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.image img{
  width:100%;
  vertical-align:top;
}
.modal-body{
  height:500px;
}

.leftModal{
  width:40%;
  float:left;

}

.rightModal{
  width:50%;
  float:right;
  text-align:left;

}
.textDetes{
  width:100%;
  white-space:normal;
}
button .blue:hover{
  background-color:blue;

}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    width: 100%;
    }
}

.imgGrid{
  display:inline-block;
}
.imgGrid li{
  display:inline-block;
  list-style:none;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.pics img{
  display:inline-block;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
