
<h2>Collections</h2>

<!-- <form>
  <input placeholder="Message..." ng-model="newMessage">
  <button type="submit" ng-click="addSomething(newMessage);newMessage = null;">send</button>
</form> -->

<!-- <ul id="messages" ng-show="messages.length">
  <li ng-repeat="message in messages | reverse">{{message.text}}</li>
</ul> -->
<div gridster="gridsterOpts" ng-repeat="user in users">
  <div ng-repeat="(key, value) in user.collections">
  	<ul>
  		<li gridster-item="item"><img ng-src="{{value.edmPreview[0]}}" alt=""/>
  			<!-- <input type="text" integer ng-model="item.row" size="1" />
  			,
  			<input type="text" integer ng-model="item.col" size="1" />
  			<br />
  			<input type="text" integer ng-model="item.sizeX" size="1" />
  			x
  			<input type="text" integer ng-model="item.sizeY" size="1" /> -->
  		</li>
  	</ul>
  </div>
</div>
<!--
<div ng-repeat="user in users">
  <div class="image" ng-repeat="(key, value) in user.collections">
    <img ng-src="{{value.edmPreview[0]}}" alt=""/>
    <span class="text-content"><span ng-src="{{value.title[0]}}">{{value.title[0]}}</span>
  </div>
</div> -->
